label {
    color: var(--color-gray-700);
    font-weight: var(--font-weight-bold);
}

.label {
    display: block;
    font-size: var(--text-sm);
}

legend {
    color: var(--color-gray-700);
    font-weight: var(--font-weight-bold);
}

.legend {
    display: block;
    font-size: var(--text-sm);
}

.input {
    border-radius: var(--radius-md);
    /* height: calc(var(--spacing) * 10); */
    width: 100%;
    border-width: 1px;
    border-color: var(--color-gray-300);
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 2);
    /* background-color: var(--color-gray-50); */
    color: var(--color-gray-900);
}

.input:focus-visible {
    outline: 2px solid var(--color-cyan-200);
}

.radio, .checkbox {
    appearance: none;
    border: 1px solid var(--color-gray-300);
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
    
    &:checked {
        border-color: var(--color-cyan-500);
    }
    
    &:hover {
        outline: 3px solid var(--color-cyan-100);
        outline-offset: 1px;
    }

    &:focus-visible {
        outline: 2px solid var(--color-cyan-200);
    }
}

.radio {
    border-radius: 50%;
    position: relative;
    
    &::before {
        background-color: var(--color-cyan-500);
        border-radius: 100%;
        inset: 0;
        content: "";
        height: .6rem;
        width: .6rem;
        margin: auto;
        position: absolute;
        opacity: 0;
    }
    
    &:checked::before {
        opacity: 1;
    }
}

.checkbox {
    border-radius: 10%;
    position: relative;
    
    &::before {
        background-color: var(--color-cyan-500);
        inset: 0;
        content: "";
        background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'><path d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/></svg>");
        position: absolute;
        opacity: 0;
    }
    
    &:checked::before {
        opacity: 1;
    }
}

.textarea {
    border-radius: var(--radius-md);
    height: calc(var(--spacing) * 40);
    width: 100%;
    border-width: 1px;
    border-color: var(--color-gray-300);
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 2);
    /* background-color: var(--color-gray-50); */
    color: var(--color-gray-900);
}

.textarea:focus-visible {
    outline: 2px solid var(--color-cyan-200);
}

.error {
    font-size: var(--text-xs);
    color: var(--color-red-500);
}

.form-muted-icon {
    color: oklch(0.6 0 0);;
}

.form-muted-icon:hover {
    color: oklch(0.1 0 0);
}

[x-cloak] {
    display: none !important;
}